<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                <h1>
                    Храм Артемиды Эфесской
                </h1>
                </div>
                <p>
                    Утраченный шедевр Древнего мира, одно из самых больших греческих святилищ было раскопано в 1869 году британским археологом Джоном Вудом после многих лет поиска и стало доступным для посещения всеми неравнодушными к чудесам древности. Руины некогда великолепного сооружения располагаются на окраине турецкого города Сельчук и производят сильное впечатление на путешественников. Что осталось от легендарного строения.
                </p>
                <img src="/artemida3.jpeg" alt="">
                <h1>
                    Кто такая Артемида?
                </h1>
                <p>
                    Согласно древнегреческой мифологии Артемида являлась дочерью богини Лето (богиня ночи, ночного неба) и любвеобильного Зевса. Законная супруга Зевса Гера, известная своим "добродушием", решила за измену мужа и попутно за поддержку жителей Трои в Троянской войне, наказать Лето, категорически запретив земной тверди принимать роженицу, а богине деторождения Илифии присутствовать при родах. По одной версии, Посейдон по просьбе Зевса предоставил Лето место для родов в виде плавающего острова, который не подпадал под категорию "земной тверди", а после родов, остров из мобильного превратился в стационарный, известный в истории как Делос. Вторая версия по датировке событий выглядит более вероятной. Согласно ей, Лето разродилась близнецами Артемидой и Аполлоном в масличной роще недалеко от Эфеса благодаря Илифии нарушившей запрет Геры по просьбе других богов.
                </p>
                <img src="/artemida4.jpeg" alt="">
                <p>
                    Изначально, Артемида являлась богиней охоты. Со временем, добавились новые сферы ответственности и Артемида стала покровительницей домашних животных. Ближе к середине I тысячелетия деятельность богине была сильно расширена: покровительница лесов, полей, рощ, утренней влаги, земледелия, плодородия и даже медицины. В конечном итоге Артемида не только стала конкуренткой Деметры, а местами даже превзошла её. Правда, в отличие от Деметры Артемида являлась жёсткой и принципиальной и в случае неуважения со стороны смертных не смотрела сквозь пальцы, а немедленно приступала к наказаниям насылая на людей болезни и неурожаи. Мстительность богини принесла ей новый статус богини войны, где она стала наступать на пятки "нелюбимому сыну" Зевса Аресу и богине "разумной войны" Афине. Более всего чтили Артемиду как богиню войны опять-таки в Эфесе, городах Малой Азии и в самой Спарте.
                </p>
                <h1>
                    Грандиозный конкурс
                </h1>
                <p>
                    Известно, что до начала строительства грандиозного храма, в Эфесе с VIII века до нашей эры уже было три культовых сооружения посвящённых Артемиде, которые сменили друг друга в результате перестройки или пожаров. Но только в VI веке до нашей эры благодаря завоеванию Эфеса лидийским царём Крезом было принято решение о масштабном храмовом строительстве. Покровительство Креза греческому искусству и гибкость эфесцев по отношению к завоевателю, привело к выделению лидийским царём колоссальных средств на строительство храма.
                </p>
                <p>
                    В начале определились с архитектором храма. Им стал Херсифрон из Кносса, который прибыл со своим сыном и ассистентом по совместительству Метагеном. Сложнее стало с поиском месторождений мрамора. По традиции хотели его везти аж с Проконнеса (ныне Мармара), но тут произошло чудо, и пастух Пиксадор принёс радостную весть: во время драки его баранов, один зацепил рогом породу от которой откололся кусок, внутренняя часть которого оказалась похожей на белоснежный мрамор. А это всего в 12 километрах от Эфеса. Пастух поспел в город с радостной новостью своевременно, за что был щедро награждён.
                </p>
                <p>
                    А вот когда дело дошло до оформления интерьеров храма, здесь пошли жаркие споры. В Эфес приезжал сам Фидий, Фрадмон, Кресилай - скульптуры, чьи имена гремели на весь мир. Но в итоге остановились на Поликлете, которому и доверили создать скульптуру Артемиды и раненой Амазонки
                </p>
                <img src="/artemida5.jpeg" alt="">
                <h1>
                    Как доставляли колонны
                </h1>
                <p>
                    Храм Артемиды Эфесской стали возводить в 560 году до нашей эры и строили на протяжении 120 лет. Учитывая сейсмоопасность региона, Херсифрон принял решения построить храм именно на болотистой местности, чтобы смягчить подземные толчки в случае землетрясения. Для этого вырыли глубокий котлован в основании которого уложили обугленныё стволы дуба и засыпали камнями до уровня земли. На этом фундаменте построили храм длиной 105 метров и шириной 51 метр. Крыша храма покоилась на 127 колоннах выполненных в ионическом стиле высотой 18 метров
                </p>
                <p>
                    Доставить такие колонны было невероятно сложно (вес от 20 тонн). Поэтому Херсифрон придумал оригинальный выход: на две балки равные длине колонны, укладывалась сама колонна. В концы колонны были врезаны железные сердечники соединяющиеся с втулками на балках. Посредством двух брусьев объединяющие эту конструкцию воедино, быки тянули колонну к месту строительства как огромный каток, больше смахивающий на механическую выжималку для белья, поверху которой катится колонна.
                </p>
                <h1>
                    Виновата сама Артемида
                </h1>
                <p>
                    В ночь на 21 июля 356 года до нашей эры, согласно версии античных историков, Артемида покинула свою земную резиденцию в Эфесе и отправилась на помощь Олимпиаде, которая готовилась произвести на свет будущего владыку мира, то есть Александра Македонского. Простой житель Эфеса Герострат, желая прославиться, не придумал ничего лучше, как просто поджечь храм. Не встретив никого из людей, Герострат с успехом реализовал затеянное. И если само здание выстроено из мрамора, то балки были из дерева - кипариса. Вначале вспыхнуло содержимое зала и закромов храма, после чего огонь перекинулся на балки и обвалилась крыша. Артемида вскоре вернулась, а Герострат был схвачен, предан суду и казнён. По решению суда имя преступника было предано забвению, но древнегреческий историк Феопомп, на склоне лет перебравшийся в Эфес, сохранил это имя в назидание для потомков.
                </p>
                <img src="/artemida6.jpeg" alt="">
                <h1>
                    Хитрость Александра Македонского
                </h1>
                <p>
                    Самое интересное, что храм Артемиды Эфесской стал считаться "чудом света" не до пожара устроенного Геростратом, а после проведения масштабных восстановительных работ в результате которых храм стал ещё больше, выше и краше. Поэтому, справедливо будет называть храм не Третьем, а Четвёртым чудом Древнего мира. Стало это благодаря невиданной щедрости Александра Македонского и легендарной хитрости жителей Эфеса.
                </p>
                <p>
                    В 334 году до нашей эры Александр Македонский в рамках своего победоносного шествия против Персии, прибыл в Эфес, где застал храм в печальном виде. Будучи изрядно наслышан о красоте святилища, Александр предлагает восстановить обитель Артемиды за свой счёт, на что получает от жителей отказ... Греческое население города воспринимает Александра как чужестранца и варвара от которого нельзя принимать помощь, это при том, что македонский правитель освободил Эфес от гнёта персов. Дабы не обидеть царя, ему сообщают, что считают его не иначе как богом, которому удалось изгнать персов. А богам не полагается заниматься столь земными делами и ничего страшного, что сама Артемида в своё время собственноручно устанавливала колонны.
                </p>
                <img src="/artemida7.jpeg" alt="">
                <p>
                    Александр Македонский не растерялся и приказал перенаправить поток средств, который ранее эфесцы выплачивали персам в виде дани, на восстановление храма. И таким образом получилось, что сами эфесцы его и стали восстанавливать. Ну а коль царь теперь бог, то извольте поместить у себя в святилище портрет Александра Македонского авторства лучшего художника всех времён и народов Апеллеса, который написал столь реалистичный портрет полководца, что видя его люди начинали кланяться и здороваться, до такой степени живой была работа. За этот труд Апеллес получил 20 талантов золота (336 килограмм, более миллиарда рублей).
                </p>
                <p>
                    Храм по старым чертежам восстанавливал сам Дейнократ, впоследствии известный как архитектор Александрии. И вновь были приглашены лучшие мастера со всей Греции. Более пяти столетий храм являлся жемчужиной Древнего мира, пока в 268 году нашей эры его не разрушили готы. В дальнейшем, в результате расцвета христианства храм и вовсе закрыли и стали потихоньку разбирать на нужды строительства базилик, в том числе на строительство храма Святой Софии в Константинополе. Череда землетрясений, нашествие турок-османов, подъём грунтовых вод привело к исчезновению древнего храма, пока его остатки не раскопал в 1869 году Джон Вуд, среди находок которого оказалась гробница легендарного основателя Эфеса Андрокла, клад монет, но самое главное, надпись у основания колонны с указанием имени Креза - главного спонсора грандиозного строительства.
                </p>
                <img src="/artemida8.jpeg" alt="">
                <p>
                    В настоящее время раскопанные руины храма Артемиды Эфесской располагаются на окраине турецкого города Сельчук и доступны для осмотра всеми желающими. Территория не охраняется и вход совершенно бесплатный. Из 127 колонн виднеется только одна, да и то собранная из разных кусочков. Тем не менее даже в таком состоянии территория раскопок с остатком фундамента и ступеней производит сильное впечатление, которое могут испортить только местные торговцы сувениров очень навязчиво предлагающих свою продукцию. При посещении объекта необходимо внимательно смотреть под ноги, в столь тихом месте встречаются змеи.
                </p>
            </div>
        </div>
	</main>
</body>