
<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                <h1>
                    Пирамида Хеопса
                </h1>
                </div>

                <p>
                    Пирамида Хеопса — самая высокая в Гизе. Её построили в качестве гробницы для фараона Хеопса IV династии.
                </p>

                <img src="/faraon.jpeg" alt="" srcset="">
                <p>
                    Точно неизвестно, в каком году была построена пирамида Хеопса, египтологи всё ещё спорят об этом. Считается, что пирамиде более 4500 лет, но есть гипотеза, что пирамида старше на 500 лет. Самые распространённые версии — строительство было начато в 2470 или в 2560 году до нашей эры.
                </p>
                <h2>
                    Сколько строили пирамиду Хеопса
                </h2>
                <p>
                    Об этом археологи тоже спорят. Они считают, что на строительство ушло не менее 20 лет, а то и все 40. Размеры пирамиды Хеопса поразительны даже по современным меркам. Площадь основания способна вместить 10 футбольных полей — 53 000 м2. Другие параметры не менее впечатляющие:
                </p>
                <h4>
                    <ul>
                        <li>площадь боковой поверхности — 85 500 м2;</li>
                        <li>длина основания — 230 м;</li>
                        <li>длина бокового ребра — 230 м.</li>
                    </ul>
                </h4>
                <p>
                   До 1880 года, когда был построен Кёльнский собор, пирамида Хеопса была высочайшим сооружением в мире. 
                </p>
                <p>
                    Во времена, когда построили пирамиду Хеопса, её высота достигала 147 метров — это соизмеримо со зданием в 50 этажей. Однако под воздействием землетрясений каменная верхушка обрушилась, и также осыпалась облицовка. Более того, бесчисленные поколения египтян растаскивали каменные блоки для строительства жилья. Сейчас же высота пирамиды Хеопса составляет 138 метров.
                </p>
                <p>
                    Пирамида Хеопса на фото выглядит грандиозно и внушительно, но ни одна картинка не способна передать её истинное величие — это стоит увидеть хотя бы раз в жизни.
                </p>
                <img src="/heops2.png" alt="">
                <h1>
                    Как добраться?
                </h1>
                <p>
                    Пирамида Хеопса находится на плато Гиза в 25 километрах от Каира. В столицу Египта летают прямые рейсы из Москвы, полёт длится около 6 часов. Из Санкт-Петербурга в Каир можно долететь с пересадкой в Москве.
                </p>
                <h2>
                    Из Каира до Гизы
                </h2>
                <p>
                    Самый доступный способ попасть в Гизу из Каира — автобус. Рейсы №355 и 357 отходят из района Гелиополис с остановкой на площади Тахрир. Конечная остановка находится на перекрёстке перед проходом к комплексу пирамид.
                </p>
                <p>
                    Доехать до плато Гиза можно и на такси. Поездка из центра города займёт не больше получаса. Учтите, что такси в обратную сторону может стоить дороже.
                </p>
                <h1>
                    Интересные факты
                </h1>
                <h2>
                    Внутри пирамиды всегда прохладно, даже если на улице +50℃
                </h2>
                <p>
                    Пирамиду Хеопса спроектировали так, что она стала огромной изотермической камерой. Плато Гиза — это пустыня, где воздух нередко прогревается выше +50℃. При этом внутри пирамиды температура всегда +20℃.
                </p>
                <img src="/heops3.png" alt="">
                <h1>
                    Египтологи спорят о принадлежности пирамиды Хеопсу
                </h1>
                <p>
                    Среди египтологов нет единого мнения относительно факта принадлежности пирамиды. Считается, что это усыпальница фараона Хеопса, однако во время исследований мумии «хозяина» не обнаружили. Также в усыпальнице нет украшений, которыми традиционно «снабжали» усопших правителей Древнего Египта. Саркофаг, в котором должна была находиться мумия фараона, тоже вызывает сомнения. Каменная конструкция обтёсана грубо и небрежно, крышки и вовсе нет. Всё выглядит недоделанным и не соответствует рангу человека, который должен был тут покоиться.
                </p>
                <h1>
                    Удивительное мастерство древних каменщиков
                </h1>
                <p>
                    Каменные плиты скрепляет особый строительный раствор, который по сей день не сумели воссоздать. Любой современный цемент за 5000 лет обратился бы в пыль, но не древнеегипетский. Кроме того, мастерство древних каменщиков прослеживается и в точных расчетах при выборе глыб. Если рассматривать облицовку, видно, что камни подогнаны настолько точно и плотно, что между ними не пройдёт даже лезвие ножа.
                </p>
                <h1>
                    Убеждение, что пирамиду строили рабы, ошибочно
                </h1>
                <p>
                    Многие уверены в том, что пирамида Хеопса строилась руками рабов. Учёные уверяют: это заблуждение. Сооружением пирамиды занимались свободные каменщики и архитекторы, которые съезжались на грандиозную стройку со всего Египта. У них были удобные места для сна, обильное питание, оплата труда. Историки допускают возможность того, что к строительству привлекались военнопленные, но в основной массе это были свободные люди. Предполагается, что в строительстве пирамиды участвовало не менее 100 000 человек.
                </p>
                <h1>
                    Пирамиду можно использовать как компас
                </h1>
                <p>
                    Каждая из граней пирамиды смотрит точно на юг, север, запад и восток. Отклонение составляет всего 5° из-за того, что за тысячелетия Северный магнитный полюс Земли немного сместился. Первоначально соответствие было идеальным. Это кажется невероятным, особенно учитывая то, что первый магнитный компас появился во времена правления китайской династии Сун в период 960–1279 годов.
                </p>
                <img src="/heops4.png" alt="">

            </div>
        </div>
	</main>
</body>