<div class="container-fluid">
  <div class="content-main">
    <div class="content-main-img">
      <div>
        <img src="/Rotating-Globe-from-Wikipedia.gif" alt="" srcset="" />
      </div>
    </div>
    <div class="content-main-h1">
      <div>
        <h1>чудеса мира</h1>
      </div>
    </div>
  </div>
  <div class="content-about">
    <div></div>
    <div id="content-body">

      <div class="container-body">
        <a href="/heops">
          <h1>
            Пирамида Хеопса
          </h1>
        </a>

        <h5>
          Единственное из всех древних сооружений, которое сохранилось до наших
          дней. А ещё оно самое первое появилось на планете: пирамиду построили
          ещё в 2560 году до нашей эры в пригороде столицы Египта. Это самая
          большая пирамида страны: в высоту достигает 147 метров и занимает
          площадь больше семи футбольных полей.
        </h5>
        <h5>
          Пирамиду возвели всего за 20 лет по приказу фараона Хеопса. Строили из
          гранита и известняка без каких-либо механизмов и инструментов:
          поднимали каменные блоки одного размера на большую высоту. Есть
          мнение, что всю работу сделали при помощи помостов из балок или
          верёвок. Всего над проектом работало как минимум 100 000 человек.
          Чтобы посетить пирамиду Хеопса, нужно добраться до Каира. Экскурсия на
          территорию комплекса стоит 240 фунтов (756 рублей), а вход в пирамиду
          — 440 фунтов (1386 рублей). Внутри вам предстоит идти в полусогнутом
          положении по узким туннелям. Зато вы сможете увидеть погребальное
          помещение и две царские камеры для фараона и его жены. Часы работы — с
          7:00 до 17:00.
        </h5>
        <img src="/heops.png" alt="heops" />
      </div>
      <div class="container-body">
        <a href="/seramida">
          <h1>
            Висячие сады Семирамиды
          </h1>
        </a>
        <h5>
          Сады Семирамиды находились в древнем городе Вавилоне, но
          доказательств, что они существовали, нет. Однако это чудо света
          упоминали древнегреческие и римские историки.
        </h5>
        <h5>
          По одной из теорий, Висячие сады Семирамиды построили в VI–VII веке до
          нашей эры для жены царя Навуходоносора II. Это был четырёхэтажный
          дворец высотой примерно 40 метров. Висячие сады выглядели как
          пирамида, с ярусов которой свисали тропические растения — кипарис,
          ива, миндаль, гранат и другие деревья.
        </h5>
        <h5>
          Вместе с фонтанами и водоёмами сады создавали оазис. Чтобы поливать
          столько растений, спроектировали уникальную систему орошения, для
          которой требовалось несколько сотен рабов.
        </h5>
        <h5>
          По одной из версий, Висячие сады Семирамиды разрушило землетрясение,
          по другой — наводнение, третья говорит, что виноваты персидские
          войска.
        </h5>
        <img src="/seramida1.jpeg" alt="seramida" />
      </div>
      <div class="container-body">
        <a href="/zevs">
          <h1>
            Статуя Зевса в Олимпии
          </h1>
        </a>

        <h5>
          Статую построили в религиозном центре Древней Греции, Олимпии, по
          проекту древнегреческого архитектора Фидия примерно в 435 году до
          нашей эры. Ей украсили храм Зевса, одно из крупнейших сооружений того
          времени, полностью сделанное из мрамора.
        </h5>
        <h5>
          Сам Бог неба был выполнен из слоновой кости и золота и изображён
          сидящим на троне. Голову Зевса украшает оливковый венок, в руках он
          держит скипетр, а в другой — статую богини Победы Ники.
        </h5>
        <h5>
          Что стало с чудом света, точно не известно. По одной из версий, статуя
          Зевса сгорела вместе с храмом в 426 году нашей эры.
        </h5>
        <img src="/zevs1.jpg" alt="zevs" />
      </div>
      <div class="container-body">
        <a href="/artemida">
          <h1>
            Храм Артемиды
          </h1>
        </a>
        <h5>
          Четвёртое чудо света возвели жители греческого города Эфеса в честь
          богини охоты и плодородия Артемиды Эфесской в V веке до нашей эры
        </h5>
        <h5>
          Храм построили из местных материалов — мрамора и известняка. В длину
          он достигал 115 метров, а в ширину — примерно 46 метров.
        </h5>
        <h5>
          Внутри чуда света находились скульптуры и картины, а также статуя
          самой богини Артемиды.
        </h5>
        <h5>
          В 356 году храм поджёг Герострат, который таким образом хотел войти в
          историю. После этого чудо света восстановили по приказу Александра
          Македонского, но примерно в 268 году нашей эры храм Артемиды Эфесской
          разрушили и разграбили.
        </h5>
        <h5>
          Как говорят историки, храма было три, до наших дней дошли руины
          третьего из них, восстановленного по приказу Александра Македонского.
          Посмотреть на них можно в Сельчуке — городе современной Турции.
          Сегодня на месте храма остались только несколько блоков строения и
          одна колонна, собранная из обломков.
        </h5>
        <img src="/artemida1.jpeg" alt="heops" />

      </div>
      <div class="container-body">
        <a href="/mavsola">
          <h1>
            Мавзолей Мавсола
          </h1>
        </a>
        <h5>
          Гробница находилась в античном городе Галикарнасе. Построили её для
          карийского правителя Мавсола в 351 году до нашей эры.
        </h5>
        <h5>
          Гробница достигала в высоту около 45 метров — сравнить можно с высотой
          17-этажного здания. Здание окружал пышный сад, а украшением служили
          примерно три сотни статуй львов и всадников. На вершине гробницы
          стояли изваяния Мавзола и его жены Артемисии, правящие запряжённой
          конями колесницей.
        </h5>
        <h5>
          Простоял мавзолей около 19 столетий, но не пережил землетрясения в XV
          веке. Сейчас на его месте находятся старые развалины под открытым
          небом. Чтобы посмотреть на останки гробницы, приезжайте в турецкий
          город Бодрум. Посетить музей можно со вторника по воскресенье с 8:30
          до 17:00 за 25 лир (90 рублей).
        </h5>
        <img src="/mavsola.jpg" alt="mavsola" />
      </div>
      <div class="container-body">
        <a href="/kollos">
          <h1>
            Статуя Колосса Родосского
          </h1>
        </a>
        <h5>
          В список также входит Колосс Родосский, построенный в греческом городе
          Родосе в 290 году до нашей эры. Статуя высотой более 30 метров
          изображала древнегреческого бога солнца — Гелиоса.
        </h5>
        <h5>
          Колосса построили из глины и железа, а для устойчивости отделали
          бронзовыми листами. По некоторым версиям, голову Гелиоса украшала
          лучистая корона, а правая рука его держала факел и была поднята вверх.
          Строили статую около 12 лет, но простояла она недолго — чуть больше
          полувека. В 226 году до нашей эры чудо света разрушило
          землетрясение.Колосса построили из глины и железа, а для устойчивости
          отделали бронзовыми листами. По некоторым версиям, голову Гелиоса
          украшала лучистая корона, а правая рука его держала факел и была
          поднята вверх. Строили статую около 12 лет, но простояла она недолго —
          чуть больше полувека. В 226 году до нашей эры чудо света разрушило
          землетрясение.
        </h5>
        <h5>
          Колосса часто изображают стоящим на мраморных постаментах по обе
          стороны гавани, что давало возможность проходить кораблям между его
          ног. Как именно была установлена статуя, доподлинно неизвестно — никто
          из современников не оставил описания. Сейчас на месте, где
          предположительно была статуя Колосса Родосского, находятся небольшие
          скульптуры оленей
        </h5>
        <img src="/kollos.jpg" alt="kollos" />
      </div>
      <div class="container-body">
        <a href="/mayak">
          <h1>
            Александрийский маяк
          </h1>
        </a>
        <h5>
          Александрийский маяк — это седьмое чудо света и второе чудо Египта,
          которое находилось на бывшем острове Фарос у берегов Александрии. В
          высоту он достигал около 120–150 метров и считался самым высоким
          рукотворным сооружением того времени.
        </h5>
        <h5>
          Маяк возвели в III веке до нашей эры, он служил ориентиром и дозорным
          пунктом. Его высота позволяла указывать дорогу путешественникам почти
          за 50 километров. Свет в маяке подавали при помощи бронзовых пластин,
          которые отражали пламя костра.
        </h5>
        <img src="/aleksandriyskiy-mayak_2.jpg" alt="-mayak" />
      </div>
    </div>
    <div></div>
  </div>

</div>

