<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                    <h1>
                        Колосс Родосский, сколько он простоял, и почему его создатель покончил с собой
                    </h1>
                </div>
                <p>
                    Скульптор Харес вполне мог бы остаться безвестным учеником великого Лисиппа, если бы не стал создателем одного из Семи чудес света. И именно это его творение сыграло в жизни Хареса роковую роль, превратив работу над колоссом одновременно в большую профессиональную удачу и личную трагедию.
                </p>
                {{!-- <img src="/kollos1.jpg.crdownload" alt=""> --}}
                <h1>
                    Кому понадобился Колосс Родосский
                </h1>
                <p>
                    Колосс Родосский простоял всего полвека, но успел за это время попасть в тот знаменитый античный список, что обеспечивал бессмертие – пусть и не в буквальном, физическом смысле слова. Что становилось чудом света в глазах древних греков? Все, что поражало воображение, чем можно было похвастаться перед чужеземцами, да и перед теми соотечественниками, что не имели возможности увидеть своими глазами такие шедевры человеческого гения.
                </p>
                <p>
                    Повод к созданию Колосса Родосского возник в связи с переделом сфер влияния в разных частях бывшей империи Александра Македонского. Остров Родос в восточной части Средиземного моря интересовал как стратегически важный объект сразу нескольких правителей. В 305 году до н.э. Деметрий Полиоркет привел на остров целую армию, чтобы взять столицу, город Родос. Началась осада, в течение года родосцы держали оборону, несмотря на использование нападавшими мощных осадных орудий. В итоге Деметрий был вынужден заключить мир, который жители острова сочли своей победой.
                </p>
                <p>
                    Тогда и возникла идея создать гигантскую статую в главной гавани Родоса – во славу доблести жителей острова и в благодарность его богу-покровителю. Именно Гелиос, бог Солнца, как считали в античности, создал Родос: так как во всей Элладе не было посвященного этому божеству места, Гелиос своими руками вынес из морских пучин новый остров. Для выполнения заказа жители выбрали скульптора Хареса, уроженца Родоса и ученика прославленного Лисиппа. А чтобы оплатить создание колосса, продали и переплавили брошенные Деметрием осадные орудия.
                </p>
                <h1>
                    Как создавалось одно из Семи чудес света
                </h1>
                <p>
                    Харес, видимо, подошел к работе с большим воодушевлением – иначе не получился бы колосс настолько внушительным и поражающим воображение современников. Опыт работы с большими статуями у мастера уже был, а от родосцев скульптор получил не менее трехсот талантов серебра – вполне можно было создать потрясающую фигуру бога Гелиоса в десять раз выше обычного человека. Уже издалека корабли, идущие в гавань Родоса, видели бы сверкающую на солнце огромную статую, символ величия и мощи острова.
                </p>
                <img src="/kollos2.jpg" alt="">
                <p>
                    Двенадцать лет родосцы собирали деньги на строительство статуи, двенадцать шла работа по возведению Колосса. Где он был установлен и как именно был организован процесс – неизвестно. Есть версия, что Харес работал прямо на месте установки статуи, по мере увеличения ее высоты насыпая вокруг холм, который играл роль своеобразных строительных лесов.
                </p>
                <h1>
                    Как именно выглядел Колосс, неизвестно
                </h1>
                <p>
                    Нет сведений и о том, как именно располагалась фигура – вероятно, для большей устойчивости использовалось копье или драпировки одежды. Главное – первоначальные размеры Колосса были пересмотрены, и жители Родоса заказали скульптору фигуру вдвое выше, добавив к уже уплаченной сумме столько же, то есть удвоили гонорар.
                </p>
                <img src="/kollos3.jpg" alt="">
                <p>
                    По какой-то причине Харес, очевидно, прекрасно знавший анатомию, допустил этот глупейший промах – упустил из виду, что статуя, увеличенная в два раза, потребует вовсе не двукратного количества материала, а следовательно, окажется не в два раза дороже, а больше. В физике это называется «закон квадрата – куба». Согласившись на сделку, Харес обрек себя на разорение. За те годы, что шла работа над статуей, он потерял все, стал должником родственников и друзей, а после того, как Колосс был установлен, покончил с собой. Впрочем, есть версия, что причиной самоубийства скульптора стала замеченная им при установке трещина на ноге статуи.
                </p>
                <h1>
                    Недолгая жизнь статуи и долгое посмертное существование
                </h1>
                <p>
                    Каркас был сделан из камня и железа, сама статуя – из глины, а покрывали ее бронзовые пластины (большей частью переплавленные из тех самых осадных орудий). Основание – не то круглое, не то восьмиугольное – составляло не менее восемнадцати метров в диаметре. В высоту Колосс достигал 33-36 метров. Это была фигура обнаженного юноши – бога Гелиоса, судя по античным изображениям – с венцом на голове и поднятой рукой (последнее порой оспаривается, так как при подобном положении статуи с учетом ее размеров и веса, были велики риски появления трещин и разрушения фигуры).
                </p>
                <img src="/kollos8.jpg" alt="">
                <p>
                    Не сохранилось сведений о том, где была установлена статуя; в Новое время ее обычно изображали стоящей каждой ногой по обеим сторонам гавани. По всей видимости, этого быть не могло, учитывая размеры колосса и ширину гавани – ведь тогда статуе пришлось расставлять ноги уж слишком широко.
                </p>
                <p>
                    Кроме того, возведение статуи на долгих 12 лет парализовало бы работу порта, не говоря о последствиях обрушения. На современников бронзовая фигура Гелиоса, невиданная по размеру, сверкающая на солнце, производила, вероятно, сильное впечатление. Колосс уверенно занял место в перечне лучших творений человеческого гения, составленном античными поэтами.
                </p>
                <p>
                    Статуя простояла 54 года и была повалена землетрясением 226 года, «переломленная у колен», как писал об этом Страбон, видевший развалины. Правитель Египта не сумел поднять статую, а заказать новую, как говорят, помешал Дельфийский оракул, который пригрозил Родосу гневом бога Гелиоса, если они на то осмелятся. Обломки оставались на месте больше восьми веков. Но и тогда Колосс представлял собой внушительное зрелище. Обхватить обеими руками большой палец статуи мог лишь высокий человек.
                </p>
                <p>
                    В 653 году Родос был захвачен арабами, и обломки статуи были переплавлены и вывезены. Легенда гласит, что бронзовые слитки вывозились на 900 верблюдах. А в XIX веке идея создать колосса на берегу острова получила воплощение в виде нью-йоркской Статуи Свободы. Высота американской версии несколько превышает высоту родосской статуи, составляя 46 метров, а вся конструкция, включая гранитный пьедестал и бетонное основание, достигает 93 метров. Что же касается воспроизведения именно античного чуда света, фигуры Гелиоса, разговоры об этом ведутся с начала тысячелетия, но так ни к чему не привели.
                </p>
                <img src="/kollos5.jpg" alt="">
            </div>
        </div>
	</main>
</body>