<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                    <h1>
                        Галикарнасский Мавзолей
                    </h1>
                </div>
                <p>
                    Галикарнасский Мавзолей - одно из Семи Чудес Света, которое не просто было потрясающим архитектурным сооружением своего времени, но и стало нарицательным для будущих мемориальных построек.
                </p>
                <p>
                    По сути мавзолей - это гробница. А называться "мавзолеем" она стала по имени Мавсола - правителя в регионе Кария (ныне юго-запад Турции). Он и его жена Артемисия жили в столице региона - городе Галикарнасе на побережье (ныне курортный город Бодрум) - и за время правления вложили в его украшение и благоустройство баснословные деньги.
                </p>
                <img src="/mavsola1.jpg" alt="">
                <p>
                    Но помимо этого, еще при своей жизни Мавсол решил возвести для себя роскошную гробницу, причем такую, чтобы она стала самым красивым сооружением в городе.
                </p>
                <p>
                    Однако в 353 году до н.э. Мавсол умер, успев только увидеть свою гробницу на чертежах. Власть в регионе перешла к его супруге Артемисии. Кстати, тут стоит добавить, что она была его сестрой (да, такие родственные связи не возбранялись в те времена) и при этом любила своего скончавшегося брата/мужа до такой степени, что по свидетельству древнеримских летописцев, даже подмешивала себе в питьё его прах.
                </p>
                <img src="/mavsola2.jpg" alt="">
                <p>
                    Артемисия начала руководить возведением гробницы Мавсолу по его проекту, но также не успела увидеть ее завершенной, потому что в 350 году до н. э. скончалась и она. Тем не менее местные ремесленники, видимо, очень почитали эту пару, потому что решили остаться и закончить свою работу, а назвали своё грандиозное сооружение в честь Мавсола (Μαύσωλ) Мавсолеем (Μαυσωλεῖον).
                </p>
                <p>
                    Итак, законченная в 4 веке до нашей эры усыпальница для Мавсола и Артемисии высотой почти в 50 метров возвышалась над городом и была видна далеко с моря. Архитектура мавзолея была не очень характерна для того времени: геометрически это было больше квадратное сооружение чем традиционное прямоугольное. Богатое убранство мавзолея включало более 300 различных статуй и скульптур.
                </p>
                <img src="/mavsola3.jpg" alt="">
                <p>
                    Мавзолей простоял невероятно долго - больше 16 веков, но к 1400-м годам был разрушен серией землетрясений. Однако восстанавливать его не стали, так как в 15 веке Галикарнас был завоёван орденом госпитальеров, которые решили использовать каменные фрагменты с руин гробницы для постройки Замка Святого Петра
                </p>
                <img src="/mavsola4.jpg" alt="">
                <p>
                    В середине 19 века британский археолог Чарльз Ньютон, который с особым увлечением изучал тексты античных авторов, решил отыскать предполагаемое местонахождение мавзолея на месте современного города Бодрума.
                </p>
                <p>
                    В ходе раскопок Ньютон обнаружил фрагменты стен мавзолея и его ​​крыши, в частности 2-метровое каменное колесо со скульптуры колесницы, которая венчала монумент. Продолжив работы, археологи смогли раскопать даже статуи самих Мавсола и Артемисии, стоявших в этой колеснице. Сейчас некоторые из сохранившихся фрагментов мавзолея можно посмотреть на экспозиции в Британском музее.
                </p>
                <img src="/mavsola5.jpg" alt="">
                <p>
                    На месте самого мавзолея в наши дни сохранился лишь фундамент и был открыт небольшой музей. Что же касается, замка рыцарей-госпитальеров, состоящего частично из мраморных блоков одного из Чудес Света, то он по-прежнему стоит в Бодруме. В 60-е годы в нем открыли Музей подводной археологии, и его также можно посетить
                </p>
                <img src="/mavsola6.jpg" alt="">
                <p>
                    Галикарнасский Мавзолей сильно повлиял на мировую мемориальную архитектуру. По его образу было создано множество Монументов памяти по всему миру, а слово "мавзолей" полностью заменило собой понятие "гробницы для знаковых персон".
                </p>
            </div>
        </div>
	</main>
</body>