<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                    <h1>
                        История Александрийского маяка простоявшего 1500 лет
                    </h1>
                </div>
                <p>
                    Александрийский маяк был одним из семи чудес Древнего мира и символом великого города Александрия в Египте. Маяк был построен примерно в 3 веке до нашей эры и простоял более 1500 лет до своего окончательного разрушения.
                </p>
                <img src="/mayak.jpeg" alt="">
                <p>
                    В 332 году до н. э. Александр Македонский решает построить порт в дельте Нила, который был бы удобен как для судов прибывающих по Средиземному морю, так и по Нилу. Для этих целей он подобрал место напротив острова Фарос, который он соединил с континентом молом длинной 1200 метров. И всё бы хорошо, вот только на фоне однообразного египетского побережья не промахнуться и попасть в гавань нового города Александрии было делом весьма сложным, поэтому было решено построить там маяк. Правда случилось это уже не при Александре Македонском.
                </p>
                <img src="/mayak2.jpeg" alt="">
                <p>
                    Строительство маяка началось, приблизительно, в 279 году до н.э. во времена правления Птолемея I Сотера, а закончилось при Птолемее II Филадельфе. Автором проекта был греческий архитектор Сострат Книдский. Основание маяка было квадратным со сторонами около 30 м. Доподлинно неизвестно из каких материалов он был построен. историки описывают его, как белокаменный. Возможно он был построен из блоков песчаника или мрамора, а может быть он был гранитный и облицованный камнем. Высота маяка была не менее 120 метров.
                </p>
                <p>
                    Дизайн и архитектура маяка были очень передовыми для своего времени. Он состоял из трех ярусов с пандусами, которые вели на вершину, где была смонтирована система зеркал, которые отражали свет и улучшали видимость. Свет маяка был виден много километров, что позволяло кораблям безопасно заходить в порт Александрии. Недаром Александрийский маяк считался одним из семи чудес света, ведь долгие столетия он был крупнейшим сооружением на планете. Именно это, в конце концов и сыграло злую шутку.
                </p>
                <img src="/mayak3.jpeg" alt="">
                <p>
                    Из-за своих размеров маяк был уязвим для землетрясений и других стихийных бедствий, и за столетия ему было нанесено несколько повреждений. Несмотря на частичные разрушения, до X века он ещё более-менее справлялся со своими функциями. Но затем новая череда землетрясений окончательно привела его в упадок и в 14 веке маяка по сути не стало, а его камни пошли на строительство крепости.
                </p>
                <p>
                    Несмотря на то, что за сотни лет маяк был в основном разрушен, в последние десятилетия были предприняты усилия по восстановлению тех частей Александрийского маяка, которые сохранились до наших дней, включая некоторые камни, оставшиеся от его первоначального строительства в 27 году до н. э.! Остатки маяка разбросаны по разным частям побережья Александрии, но ни один из них пока не удалось полностью восстановить из-за отсутствия финансирования или знаний об их точном расположении под песчаными дюнами или водами вблизи береговой лини. Кроме того, археологи нашли доказательства того, что на этом участке, возможно, был построен не один маяк, что еще больше усложняет работу по восстановлению!
                </p>
                <p>
                    Одной из главных проблем исследования маяка является ограниченная доступность сохранившихся артефактов. Однако ряд источников, включая древние тексты и монеты, предоставили ценную информацию о строительстве и внешнем виде маяка. Археологи также изучили руины острова Фарос, где находился маяк, и собрали воедино представление о его местоположении.
                </p>
                <img src="/mayak4.jpeg" alt="">
                <p>
                    В последние годы достижения в области технологий позволили создавать 3D-модели и виртуальные реконструкции маяка, что позволяет исследователям лучше понять его размеры, дизайн и функциональность. Кроме того, подводная археология раскрыла новую информацию о древней гавани и ее связи с маяком.
                </p>
                <img src="/mayak5.jpeg" alt="">
            </div>
        </div>
	</main>
</body>
