<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                <h1>
                   Легенда о садах Семирамиды
                </h1>
                </div>

                <p>
                    Их еще называют «Сады Вавилона» – в этом древнем городе чудо света, как считается, и находилось. А причастность к строительству этого сооружения царицы Семирамиды, оказывается, весьма сомнительна. Во-первых, потому, что персонаж это – мифический, а не исторический. Семирамида якобы была дочерью богини Деркето, женщины-рыбы, которой поклонялись ассирийцы, а замуж она вышла за царя Нина, тоже, впрочем, персонажа из легенд, а не из реальной истории. После смерти супруга Семирамида стала править Ассирией единолично.
                </p>

                <img src="/seramida8.jpeg" alt="" srcset="">
                <p>
                    Правила она будто бы долго и эффективно, ходила в далекие военные походы, вплоть до Индии и Эфиопии, возводила новые постройки, да и вообще – не то основала, не то реконструировала город Вавилон. Ей приписывались и другие особенности биографии, дополнявшие древние мифы, например, любовная связь с армянским царем Арой Прекрасным, которая сделала Семирамиду частью и древнеармянской мифологии. Потому, наверное, когда возникла необходимость приписать кому-то сооружение чудесных висячих садов на стене дворца, идеальная кандидатура нашлась сама собой.
                </p>
                <p>
                    Считается, что у мифической Семирамиды был исторический прототип – царица Шаммурамат, которая, пусть и с более скромными достижениями, все же вошла в историю Ассирии как неординарный правитель. Прежде всего, сам факт ее правления, в те времена, когда женщины практически не имели доступа к высшей власти, уже обеспечил Шаммурамат место в летописях. Правила она всего пять лет, в этот период исполняя роль регентши при малолетнем сыне Адад-нирари III. Было это в IX веке до н.э.
                </p>
                <img src="/seramida.jpeg" alt="" srcset="">
                <p>
                    Но все же более популярной версией о создании садов стала история любви царя Навуходоносора II к своей молодой жене Амитис. Приехавшая в Вавилон красавица грустила о прекрасной природе своей родины, и правитель соорудил для нее огромный зеленый «многоэтажный» сад, где росли фруктовые деревья, цвели кустарники. Навуходоносор был реальной исторической фигурой, он правил несколько десятилетий в VI веке до н.э., а вот относительно существования его жены Амитис такой определенности нет. Как и подтверждения факта постройки висячих садов в период его правления – ни в одном вавилонском документе это отмечено не было.
                </p>
                <h1>
                    Какими могли быть эти сады
                </h1>
                <p>
                    Упоминания висячих садов Вавилона встречаются у пяти античных авторов, первым из них стал Иосиф Флавий, который основывал свои записи на сочинении астролога из Вавилона по имени Берос, который жил в III в. до н.э. Интересно то, что о садах ни слова не написал «отец истории» Геродот, который составил подробное описание Вавилона, якобы самого прекрасного города из всех, где он побывал. То, что писали впоследствии Диодор Сицилийский, Квинт Курций Руф, Страбон и Филон Византийский, в сущности, стало пересказом тех же легенд.
                </p>
                <img src="/seramida5.jpg" alt="" srcset="">
                <p>
                    Термин «висячие сады» появился в результате не совсем корректного перевода с греческого, это архитектурное сооружение правильнее было бы назвать «нависающими садами» - растущими на возвышении. Растения размещались, вероятно, на террасах дворца, куда насыпали землю в количестве, достаточном для роста небольших деревьев. Чтобы создать непроницаемые для воды террасы, использовали не только глиняные кирпичи (которые были необожженными, а значит, могли разрушаться от влажности и частых поливов), но и другие материалы, например, редкий для тех мест камень. Дождей в Вавилоне почти не видели, поэтому для орошения садов было, вероятно, предусмотрено специальное сооружение – цепной насос.
                </p>
                <img src="/seramida3.jpeg" alt="">
                <h1>
                    Почему не удается узнать правду о висячих садах
                </h1>
                <p>
                    Какие следы чудесного сада обнаружили археологи Нового времени? Да практически никаких. В конце XIX века Роберт Колдевей начал раскопки на территории разрушенного еще до наступления новой эры Вавилона. Он установил, что это был цветущий, благоустроенный город, правда, отыскать материальные свидетельства существования висячих садов археолог не сумел. Не удалось это сделать и во время последующих экспедиций к руинам Вавилона.
                </p>
                <img src="/seramida6.jpeg" alt="">
                <p>
                    А при раскопках города Ниневии, другой ассирийской столицы, были найдены остатки системы древних акведуков, и возникла версия о том, что истинные сады Семирамиды могли располагаться именно в этом городе. В этом случае честь строительства дворца, превращенного в утопающую в зелени гору, принадлежит царю Синаххерибу, что правил в VII веке до н.э.
                    Проводить какие-либо изыскания, которые могли бы подтвердить или опровергнуть окончательно существование садов Семирамиды, в настоящее время не получится: места, которые нужно исследовать, относятся к неблагополучным и небезопасным областям Ближнего Востока
                </p>
                <p>
                    Зато главную свою функцию – вдохновлять на создание прекрасных образцов садового искусства – легендарные висячие сады выполняют блестяще на протяжении многих столетий. Еще с эпохи Возрождения считалось особым шиком разбить на крыше дворца или особняка фруктовый сад, причем проделывали это не только итальянские аристократы, не стесненные в средствах, но и жители северных земель.
                </p>
                <img src="/seramida7.jpeg" alt="">
            </div>
        </div>
	</main>
</body>