<body class="heops-body">
	<main>
        <div class="container-fluid">
            <div class="content-heops">
                <div class="div">
                    <h1>
                        Статуя Зевса Олимпийского. Потерянное чудо, окутанное мифами и легендами
                    </h1>
                </div>
                <p>
                    Глубоко в древности родился миф о боге, столь почитаемом, столь великом, что его подобие было сотворено наяву и стало одним из чудес света. Этим богом являлся Зевс. И он был царем богов в греческой мифологии. Его статуя была одной из самых внушительных в древнем мире. Несмотря на то, что она была утрачена со временем, сказание об этом великолепном произведение архитектурного искусства продолжает жить, внушая удивление и восхищение на протяжении веков.
                </p>
                <img src="/zevs5.jpg" alt="">
                <p>
                    В древности мир был наполнен чудесами, о которых до сих пор говорят. От Висячих садов до Великих пирамид семь чудес древнего мира продолжают вдохновлять и поражать людей по всей планете. Одним из таких чудес и стала статуя Зевса в Олимпии: монументальная скульптура, которая возвышалась более, чем на 15 метров в высоту и изображала царя богов во всей его славе.
                </p>
                <p>
                    Статуя была создана известным скульптором и архитектором Фидием, который также является автором Афинского Парфена. Для создания статуи Фидий использовал большое количество слоновой кости и около 200 кг. золота. Из слоновой кости было создано тело Зевса, а из золота одежда и культовые принадлежности. Статуя была открыта для поклонения в храме Зевса в 435 году до н. э.
                </p>
                <p>
                  Статуя Зевса была истинным шедевром античности. На ней изображался бог, сидящий на троне, его мощный торс, затянутый в струящемся одежде, украшенном золотом и драгоценными камнями. В правой руке он держал скипетр, увенчанный орлом, а в левой - статую богини Ники. Лицо Бога было безмятежным и достойным, с струящейся бородой и пронзительными глазами, которые, казалось, смотрели в душу любого, кто смотрел на его лик.  
                </p>
                <img src="/zevs3.jpg" alt="">
                <p>
                   Статуя была установлена в грандиозном храме, что позволяло посетителям в полной мере оценить ее масштабы. Голова Зевса почти доставала до потолка, а его трон был настолько велик, что прихожане могли смотреть на него только снизу. Храм также имел бассейн перед монументом, что создавало зеркальное отражение, которое усиливало красоту и величественность статуи. 
                </p>
                <p>
                    К сожалению, судьба ее не была счастливой. По одной из версий храм, в котором располагалась статуя, был уничтожен пожаром в V веке н. э. Некоторые сообщения предполагают, что он был уничтожен во время вторжения готов в Олимпию в 395 году н. э. По другим источникам он был перемещен в Константинополь и в конце концов сгорела во время пожара в 475 году. Какой бы ни была истинная ее судьба, статуи больше нет, и все, что осталось - это описания и изображения ее величия.
                </p>
                <img src="/zevs4.jpg" alt="">
            </div>
        </div>
	</main>
</body>